@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #985922;
  width: 100%;
  border-bottom: solid 1px #ffffff;
}

h1 {
  color: #ffffff; /* Warna teks menjadi putih */
  text-shadow: 1px 1px 1px rgba(255, 153, 0, 0.7);
  padding: 30px; /* Ruang di sekitar teks */
  border-radius: 10px; /* Sudut melengkung */
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #eeeeee;
}

.bungkus {
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  /* border: solid 0.5px #838383; */
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.delete-form {
  margin-left: auto;
}

.delete-btn {
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-btn i {
  margin-right: 5px;
}

.delete-btn:hover {
  background-color: #c9302c;
}

.card {
  position: relative;
  padding-bottom: 3rem; /* Untuk ruang tombol delete */
}

.add-news-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  z-index: 9999;
}

.add-news-btn:hover {
  background-color: #218838;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.add-news-btn i {
  margin: 0;
}
